*{
    margin: 0;
    padding: 0;
}
.poster-main,.poster-list{
    width: 60%;
    height: 270px;

}
.poster-main{
    position: relative;
}
.poster-btn{
    position: absolute;
    top:0;
    width: 100px;
    height: 270px;
    text-align: center;
    color: gray;
    z-index: 90;
cursor: pointer;


}
.poster-prev-btn{
    left:0;
    background: url('../img/btn_l.png') no-repeat center center;

}
.poster-next-btn{
    right: 0;
    background: url('../img/btn_r.png') no-repeat center center;

}
.poster-item{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.poster-item a {
    width: 100%;
    height: 100%;
    display: block;
}
.poster-item a img{
    width: 100%;
    height: 100%;
    display: block;
}

